* {
  margin: 0;
  outline: none;
  padding: 0;
}

html, body, body > .ember-view {
  background: #ffffff;
  color: $font-color-default;
  font-family: $font-primary;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  height: 100%;
}

a {
  @include transition(all .08s ease-in-out);
  color: $primary;
  cursor: pointer;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  
  &:hover {
    color: darken($primary, 7%);
    text-decoration: underline;
  }
}

h1 {
  font-size: 2.25em;
  font-weight: $font-weight-semibold;
}

h2 {
  font-size: 1.75em;
  font-weight: $font-weight-semibold;
}

h3 {
  font-size: 1.25em;
  font-weight: $font-weight-semibold;
}

h4 {
  color: darken($font-color-default, 20%);
  font-size: 1em;
  font-weight: $font-weight-semibold;
}

hr {
  border: none;
  border-top: $border-standard;
}

i {
  text-align: center;
  width: 15px;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  border: $border-standard;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $font-color-default;
  font-family: $font-primary;
  font-size: 1.5em;
  font-weight: $font-weight-light;
  padding: 10px 8px;
  width: 100%;
  
  &:hover {
    border: 1px solid darken($line-color, 5%);
  }

  &:focus {
    border: 1px solid $primary;
  }
}

input[type='file'] {
  display: inline-block;
}

label {
  display: block;
  font-size: .8em;
  font-weight: $font-weight-semibold;
  text-align: left;
}

main {
	margin-top: 140px;
	position: relative;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
  
  &:last-child {
    margin-bottom: 0;
  }
}
