.l-content-wrapper {
	box-sizing: border-box;
	padding: 0 250px;
	position: relative;
	width: 100%;
}

.l-content {
	margin: 0 auto;
	max-width: 650px;
}

.l-drop-down-container {
	display: inline-block;
  position: relative;

  &:hover .l-drop-down {
    opacity: 1;
    visibility: visible;
  }

}

.l-drop-down {
  @include transition(all .1s ease-in-out);
  margin-right: -5px;
  opacity: 0;
  padding-top: 12px;
  position: absolute;
  right: 0;
  visibility: hidden;
  width: 220px;
  z-index: 500;
}

.l-leftbar {
	position: absolute;
	width: 250px;
	z-index: 400;
	
	&.is-stuck {
		position: fixed;
		top: 120px;
	}
}

.l-metabar {
	box-sizing: border-box;
	height: 60px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}

.l-metabar-center {
	height: 56px;
	margin-left: -250px;
	position: absolute;
	left: 50%;
	width: 500px;
}

.l-metabar-left {
	float: left;
	height: 100%;
	margin-left: 20px;
}

.l-metabar-right {
	float: right;
	height: 100%;
	margin-right: 20px;
}

.l-rightbar {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
	z-index: 400;
}

.l-vertical-center {
	height: 100%;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}


.l-mbxl { margin-bottom: 90px }
.l-mbl { margin-bottom: 60px }
.l-mbm { margin-bottom: 30px }
.l-mbs { margin-bottom: 10px }

.l-mlxl { margin-left: 90px }
.l-mll { margin-left: 60px }
.l-mlm { margin-left: 30px }
.l-mls { margin-left: 10px }

.l-mrxl { margin-right: 90px }
.l-mrl { margin-right: 60px }
.l-mrm { margin-right: 30px }
.l-mrs { margin-right: 10px }

.l-mtxl { margin-top: 90px }
.l-mtl { margin-top: 60px }
.l-mtm { margin-top: 30px }
.l-mts { margin-top: 10px }
