.module {

  a {
    @extend %text-active;
    text-decoration: underline;
    
    &:hover {
      color: darken($primary, 10%);
    }
  }

  code {
    @extend %text-code;
  }

  aside, blockquote {
    background: #fff;
    border: 2px solid $primary;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto 36px auto;
    padding: 3%;
    position: relative;
    width: 90%;
    
    h1, h2, h3, h4, h5 {
      color: $primary;
      font-family: 'Source Sans Pro';
    }

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child {
      border-bottom: 2px solid $primary;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      left: -4%;
      margin-bottom: 12px;
      padding: 0 4% 10px 4%;
      position: relative;
      top: -8px;
      width: 108%;
    }
    
    p, li {
      color: #666;
      font-family: 'Source Sans Pro';
      font-weight: 400;
      font-size: 18px;
    }

    p {
      margin-bottom: 18px;
    }

    p + ul, p + ol {
      margin-top: -8px;
    }

    ul, ol {
      margin-bottom: 18px;
    }
    
    p:last-child,
    li:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }

  }

  h1.big {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 58px;
    font-weight: 100;
    margin-bottom: 100px;
    text-align: left;
  }

  h2.big {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 100px;
    text-align: left;
  }

  h3.big {
    border-bottom: 2px solid #444;
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: left;
  }

  .section h3:first-of-type {
    margin-bottom: 60px;
  }

  h1 {
    color: #444;
    font-family: 'Merriweather';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  h2 {
    color: #444;
    font-family: 'Merriweather';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  h3, h4, h5 {
    color: #444;
    font-family: 'Merriweather';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  p {
    color: #444;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: left;
    word-wrap: break-word;      /* IE 5+ */
    
    & + ul {
      margin-top: -24px;
    }
  }

  pre {
    background: #eee;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 18px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    
    code {
      @extend %text-code;
      background: none;
      border: none;
      border-radius: 0;
      display: block;
      padding: 0;
      position: static;
      top: 0;
    }
  }

  ul, ol {
    padding-left: 36px;
    margin-bottom: 30px;
  }

  li {
    color: #444;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 12px;
    text-align: left;
    
    ul, ol {
      margin-bottom: 0;
      margin-top: 12px;
    }
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  .highlighted {
    background: rgba(48, 190, 146, .25);
    cursor: pointer;
    
    .code, code {
      background: lighten($primary, 20%);
      border: 1px solid $primary;
    }
    
    &:hover {
      background: rgba(48, 190, 146, .4);
    }

    &.is-active {
      background: rgba(48, 190, 146, .4);
    }
  }

  .code, code {
    @extend %text-code;
    background: #f4f4f4;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    padding: 0 3px;
    position: relative;
    top: -1px;
  }

}