.module {

  a {
    @extend %text-active;
    text-decoration: underline;
    
    &:hover {
      color: darken($primary, 10%);
    }
  }

  code {
    @extend %text-code;
  }

  aside, blockquote {
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 36px;
    padding: 18px;
    
    p:last-child,
    li:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }

  }

  h1.big {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 100px;
    text-align: center;
  }

  h2.big {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 100px;
    text-align: center;
  }

  h3.big {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  .section h3:first-of-type {
    margin-bottom: 36px;
  }

  h1 {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  h2 {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  h3, h4, h5 {
    color: #444;
    font-family: 'Source Sans Pro';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  p {
    color: #444;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 36px;
    text-align: left;
    word-wrap: break-word;      /* IE 5+ */
    
    & + ul {
      margin-top: -24px;
    }
  }

  pre {
    background: #eee;
    border-radius: 2px;
    margin-bottom: 36px;
    padding: 18px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    
    code {
      @extend %text-code;
      background: none;
      border: none;
      border-radius: 0;
      display: block;
      padding: 0;
      position: static;
      top: 0;
    }
  }

  ul, ol {
    padding-left: 36px;
    margin-bottom: 36px;
  }

  li {
    color: #444;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 12px;
    text-align: left;
    
    ul, ol {
      margin-bottom: 0;
      margin-top: 12px;
    }
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  .highlighted {
    background: rgba(48, 190, 146, .25);
    cursor: pointer;
    
    .code, code {
      background: lighten($primary, 20%);
      border: 1px solid $primary;
    }
    
    &:hover {
      background: rgba(48, 190, 146, .4);
    }

    &.is-active {
      background: rgba(48, 190, 146, .4);
    }
  }

  .code, code {
    @extend %text-code;
    background: #f4f4f4;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    padding: 0 3px;
    position: relative;
    top: -1px;
  }

}