/ .panel.panel--drop-down.l-drop-down
/   %ul.l-vertical-list
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-lightbulb-o.l-mrs
/         Your Learning
/     %hr.l-mts.l-mbs
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-plus.l-mrs
/         New Path
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-upload.l-mrs
/         Import Path
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-archive.l-mrs
/         Your Paths
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-group.l-mrs
/         Organizations
/     %hr.l-mts.l-mbs
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-user.l-mrs
/         Your Profile
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-cog.l-mrs
/         Settings
/     %hr.l-mts.l-mbs
/     %li
/       %a.nav-link{ href: '#' }
/         %i.fa.fa-sign-out.l-mrs
/         Sign Out